<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.GetStr "PRICE_"}} - {{.GetStr "APP_NAME_"}}</title>
    <link rel="stylesheet" href="/res/css/spectre.min.css">
    <link rel="stylesheet" href="/res/css/app.css">
    <script src="/res/js/app.js"></script>
    <script src="/res/js/vue.min.js"></script>
</head>

<body>
    <div id="app" class="column">
        <div class="waterfall">
            <b style="color: red;">
                🎉{{.GetStr "SUBSCRIBE_FOR_NO_ADS_"}}🎉
            </b>
            <span>{{.GetStr "REGISTER_AN_ACCOUNT_BEFORE_YOU_PAY_"}}
                <a href="/download.html" class="btn btn-primary">{{.GetStr "DOWNLOAD_CLIENT_"}}</a>
            </span>
            <div class="row">
                {{$res := httpGetJson (print "/api-v4/public/prices?gl=" ( urlquery .GetLang) )}}{{if eq $res.StatusCode 200}}{{range $res.Data.prices}}
                <div class="card">
                    <div class="card-header">
                        <div style="color: red;" class="card-title h5">{{.price}}</div>
                        <div class="card-subtitle text-gray">{{.title}}</div>
                    </div>
                </div>{{end}}
                {{else}}
                <span>{{$res.Error}}</span>
                {{end}}
            </div>
            <br>
            <span>{{.GetStr "PLZ_REMARK_YOUR_USERNAME_WHEN_PAY_"}}</span>
            <a href="/pay.html" class="btn btn-primary">
                {{.GetStr "PAY_NOW_"}}
            </a>
        </div>
    </div>
    <script>
        app = new Vue({
            el: '#app',
            data: {
                prices: [],
            },
            delimiters:['[[',']]'],
            created: function () {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        app.prices = JSON.parse(xhr.responseText)
                    }
                }
                xhr.open('GET', 'https://api.lan-genius.com/api-v4/public/prices')
                xhr.setRequestHeader('Language', navigator.language)
                xhr.send()
            }
        })
    </script>
</body>

</html>